div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
	word-wrap: normal;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	page-break-inside: avoid;
}
*, :before, :after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.4;
  // background: $primary;
	color: $color_text_main;
  &.subpage.no-banner {
    padding-top: 100px;
  }
}
a,input,button,textarea {
  transition: all ease .3s;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font_primary;
  color: #000;
  letter-spacing: 0.0352em;
}
.sr:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
.skip-link {
  text-decoration: none;
  position: absolute;
  top: -100px;
  left: 10px;
  color: #000;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0,0,0,.35);
  transition: all ease .3s;
}
.skip-link:focus,
.skip-link:active {
  position: fixed;
  z-index: 200;
  top: 10px
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-toggle {
  display: none;
}

.site-header {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 125px;
  &:after {
    content:"";
    display: block;
    width: 100%;
    height: 5px;
    background: $primary;
    position: absolute;
    left: 0;
    bottom: 3px;
  }
  .wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .head-inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}

.site-logo {
  display: none;
}

.main-navigation {
  text-align: right;

  ul {
    display: inline-block;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    text-align: left;
  }
  li {
    display: inline-block;
    float: left;
  }

  li.menu-logo {
    visibility: hidden;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }
  ul.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  ul.menu > li {
    margin-left: 10px;
    margin-right: 10px;
  }
  ul.menu > li > a {
    margin: 0 5px;
    padding: 5px 10px;
    display: inline-block;
    color: $primary;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
  }
  ul.menu > li:hover > a {
    color: $secondary;
  }
}

.hero {
  height: 100vh;
  padding-top: 125px;
  div.image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.carousel-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200;
  border-top: 9px solid #151515;
  border-bottom: 22px solid #151515;
  background: rgba(0,0,0,.65);
  padding-left: 20px;
  padding-right: 20px;
  .carousel-inner {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 0;
  }
  .thumbnail {
    width: 190px;
    height: 118px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    .frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-image: url('images/thumbnail-frame.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #000;
      border-radius: 5px;
    }
  }
  figure {
    margin: 0 0;
    img {
      width: 100%;
      height: auto;
    }
  }

  .owl-carousel {
    left: -20px;
  }

  .owl-item {
    margin: 0 0!important;
    padding: 0 0 0 55px;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 24px;
      height: 93px;
      background-image: url('images/VerticalSpacerBars.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 13px;
      left: 8px;
    }
  }
  .owl-item:first-child {
    &:after {
      display: none;
    }
  }

  .owl-nav, .owl-dots {
    display: none!important;
  }

  .customControl {
    cursor: pointer;
    width: 86px;
    height: 93px;
    position: absolute;
    top: 50%;
    z-index: 50;
    transform: translateY(-50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &.control-previous {
      background-image: url('images/Left-Arrow.png');
      left: -70px;
    }
    &.control-next {
      background-image: url('images/Right-Arrow.png');
      right: -70px;
    }
  }

  @media screen and (max-width: 1399px) {
    .owl-item {
      max-width: 240px;
      padding-left: 50px;
      &:after {
        left: 11px;
      }
    }
    .customControl {
      &.control-previous {
        left: -75px;
      }
      &.control-next {
        right: -75px;
      }
    }
    .carousel-inner {
      max-width: 950px;
    }
  }
  @media screen and (max-width: 1200px) {
    .carousel-inner {
      max-width: 700px;
    }
  }
  @media screen and (max-width: 800px) {
    .carousel-inner {
      max-width: 620px;
    }
    .owl-item {
      padding-left: 30px;
      &:after {
        left: -7px;
      }
    }
    .customControl {
      &.control-previous {
        left: -60px;
      }
      &.control-next {
        right: -60px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .carousel-inner {
      max-width: 100%;
    }
    .owl-carousel {
      left: 0;
    }
    .owl-item {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      // opacity: 0;
      // &.active {
      //   opacity: 1;
      // }
    }
    .owl-item:after {
      display: none;
    }
    .customControl {
      &.control-previous {
        left: 0;
      }
      &.control-next {
        right: 0;
      }
    }
  }
}

body.subpage {
  // overflow: hidden;
  background-color: $primary;
  background-image: url('images/BlueGridBg.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  #content {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 125px;
    overflow: hidden;
    .wrapper {
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;
    }
    #primary {
      overflow: hidden;
    }

    #main {
      overflow: auto;
      height: 100%;
      color: #FFF;
      padding-top: 0;
      padding-bottom: 50px;
      background: $primary;
    }

    .generic-layout #main {
      padding-bottom: 0;
    }

    .titlediv {
      text-align: center;
      width: 100%;
      position: relative;
      left: 0;
      top: 0;
      background-image: url('images/BlueGridBg.png');
      background-size: cover;
      background-position: 0 -21px;
      background-repeat: no-repeat;
      h1 {
        font-size: 2.5em;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.2em;
        color: #FFF;
        padding: 15px 0;
        margin: 0 0;
        text-transform: uppercase;
      }
    }

    .entry-content {
      font-size: 1.3em;
      line-height: 1.3;
      position: relative;
      overflow: hidden;
      // height: 100vh;
      .wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        // overflow: auto;
        // height: 50vh;
      }
    }
  }

  .carousel-wrapper {
    position: relative;
    background-color: rgba(0,0,0,.45);
    // &:before {
    //   content:"";
    //   background-color: $primary;
    //   background-image: url('images/BlueGridBg.png');
    //   background-size: 100%;
    //   background-position: bottom center;
    //   background-repeat: no-repeat;
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   width: 100%;
    //   height: 100%;
    // }
    // &:after {
    //   content:"";
    //   background-size: 100%;
    //   background-position: bottom center;
    //   background-repeat: no-repeat;
    //   background-color: rgba(0,0,0,.65);
    //   position: absolute;
    //   left: 0;
    //   bottom: 0;
    //   width: 100%;
    //   height: 100%;
    // }
    .carousel-inner {
      z-index: 10;
    }
  }

  

  &.page-template-page-projects {
    overflow: auto;
    #content {
      #primary {
        overflow: visible;
      }
      #main {
        background-color: transparent;
      }
      a.featImage {
        display: block;
        width: 100%;
        text-decoration: none;
      }
      .titlediv {
        background-image: none;
        background-color: rgba(0,0,0,.25);
        border-bottom: 5px solid $primary;
      }

      .entry-content, .wrapper {
        height: auto;
      }
      .wrapper {
        padding-top: 0;
        padding-bottom: 0;
      }

      .entry-content {
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
        text-transform: uppercase;

        h4 {
          color: #FFF;
          font-size: 1.25em;
          font-weight: bold;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          margin: 20px 0 0;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
        }
      }
    }
    .carousel-wrapper {
      // background: rgba(0,0,0,.5);
      overflow: hidden;
      &:before {
        display: none;
      }
      &:after {
        background: rgba(0,0,0,.5);
        bottom: -1px;
      }
    }

    .categories {
      margin-top: 50px;
      .flexwrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .term {
        width: 100%;
        padding: 20px;
        @include sm {
          width: 50%;
        }
        @include tab {
          width: 33.333%;
        }
        .title {
          overflow: hidden;
        }
        .button {
          text-align: center;
          padding: 8px;
          position: relative;
          &:before {
            content: "";
            width: 102%;
            height: 8px;
            position: absolute;
            top: 0;
            left: -3px;
            border-top: 8px solid rgba(118,118,118,.65);
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            z-index: 5;
          }
          &:after {
            content: "";
            width: 102%;
            height: 8px;
            position: absolute;
            bottom: 0;
            left: -3px;
            border-bottom: 8px solid rgba(0,0,0,.85);
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
          }
          a {
            display: block;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: .05em;
            background: rgba(0,0,0,.75);
            position: relative;
            text-align: center;
            cursor: pointer;
            &:before {
              content: "";
              width: 10px;
              height: 150%;
              position: absolute;
              top: -4px;
              left: -10px;
              background: rgba(63,63,63,.85);
              transform: skewY(35deg);
            }
            &:after {
              content: "";
              width: 10px;
              height: 150%;
              position: absolute;
              top: -4px;
              right: -10px;
              background: rgba(63,63,63,.88);
              transform: skewY(-35deg);
            }
            span {
              display: block;
              padding: 6px 15px;
              overflow:hidden;
              transition: all ease 1s;
              cursor: pointer;
              &:before {
                content:"";
                display: block;
                width: 20%;
                height: 100%;
                position: absolute;
                top: 0;
                left: -20%;
                opacity: 0;
                background:rgba(255,255,255,.35);
                transition: all ease 1s;
                transform: skew(-45deg);
              }
            }

            &:hover {
              span {
                &:before {
                  opacity: 1;
                  width: 50%;
                  left: 50vw;
                }
              }
            }
          }
        }

        figure {
          margin: 0 0;
          position: relative;
          width: 100%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          overflow: hidden;
          &:before {
            content:"";
            display: block;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            position: absolute;
            top: 8px;
            left: 8px;
            background: transparent;
            z-index: 2;
            box-shadow: 0 0 5px 3px rgba(0,0,0,.3) inset;
          }
          &:after {
            content: "";
            display: block;
            width: calc(100% - 22px);
            height: calc(100% - 18px);
            position: absolute;
            top: 8px;
            left: 11px;
            background: transparent;
            z-index: 10;
            box-shadow: 0 0 3px 3px rgba(255,255,255,.33);
            opacity: 0.3;
          }
          &.noImage {
            background-color: $primary;
          }
          
          img {
            width: 100%;
            height: auto;
            float: left;
          }
          .b1 {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            &:before {
              content: "";
              width: 102%;
              height: 8px;
              position: absolute;
              top: 0;
              left: -3px;
              border-top: 8px solid rgba(210,210,210,.65);
              border-left: 12px solid transparent;
              border-right: 12px solid transparent;
              z-index: 5;
            }
            &:after {
              content: "";
              width: 102%;
              height: 8px;
              position: absolute;
              bottom: 0;
              left: -3px;
              border-bottom: 8px solid rgba(31,31,31,.95);
              border-left: 12px solid transparent;
              border-right: 12px solid transparent;
            }
          }
          .b2 {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            &:before {
              content: "";
              width: 10px;
              height: 150%;
              position: absolute;
              top: 3px;
              left: 0;
              background: rgba(63,63,63,.85);
              transform: skewY(35deg);
            }
            &:after {
              content: "";
              width: 10px;
              height: 150%;
              position: absolute;
              top: 3px;
              right: 0;
              filter: sepia(1);
              background: rgba(27,27,27,.88);
              transform: skewY(-35deg);
            }
          }
        }
      }
    }
  }
}
body.subpage.archive {
  #content #main {
    background: transparent;
    padding-top: 0;
    padding-bottom: 60px;
  }
  .titlediv {
    border-bottom: 5px solid $primary;
  }
}
.projects-wrapper {
  padding-top: 50px;
}
.project-listing {
  display: flex;
  flex-wrap: wrap;
  .item-info {
    width: 100%;
    .projectLink {
      display: block;
      width: 100%;
      text-decoration: none;
    }
    figure {
      width: 100%;
      float: left;
      margin: 0 0;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
    }
    div.img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 97%;
      height: 97%;
      transform: translate(-50%, -50%);
      span {
        display:block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 5px;
        transition: all ease .5s;
      }
    }
    img.frame {
      width: 100%;
      height: auto;
      float: left;
      position: relative;
      z-index: 5;
    }

    .projectLink:hover {
      div.img span {
        transform: scale(1.1);
      }
    }
    @include tab {
      width: 25%;
    }
  }
}

body.single-projects.subpage {
  background-image: none;
  .carousel-wrapper {
    background-color: rgba(0,0,0,.65)!important;
  }
  .project-single-content {
    position: relative;
    .project-main-image {
      margin: 0 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding-top: 120px;
      div.img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      img {
        width: 100%;
        height: auto;
        display: none
      }
    }
  }
  #content #main {
    position: relative;
    z-index: 5;
    background: transparent;
    .titlediv {
      border-bottom: 5px solid $primary;
      display: none!important;
    }
    .entry-content {
      background: rgba(0,0,0,.35);
      border-bottom: 5px solid $primary;
      .wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
      }
      p {
        margin: 0 0;
        font-size: 2.2rem;
        line-height: 1.2;
      }
    }
  }
}

body.logged-in.admin-bar {
  .site-header {
    top: 32px;
  }
}
@include max(780px) {
  .carousel-wrapper .carousel-inner {
    padding-left: 60px;
  }
  .carousel-wrapper .owl-carousel {
    overflow: hidden;
    max-width: 530px;
    width: 100%;
    margin: 0 auto;
  }
}
@include max(1230px) {
  .site-header {
    height: 80px;
    .head-inner {
      display: block;
      width: 100%;
      position: relative;
    }
  }
  .site-logo {
    display: inline-block;
    width: 220px;
    a {
      display: block;
      width: 100%;
    }
    img {
      width: 100%!important;
      height: auto;
    }
  }
  #site-navigation {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 320px;
    width: 100%;
    height: 100vh;
    background: #FFF;
    z-index: -99;
    visibility: hidden;
    transform: translateX(100vw);
    transition: all ease .3s;
    &.animated {
      animation: none!important;
    }
    li.menu-logo {
      display: none!important;
    }
    ul.menu {
      display: block;
      width: 100%;
      padding-top: 80px;
      padding-bottom: 80px;
    }
    ul.menu > li {
      width: 100%;
    }
    ul.menu > li > a {
      display: block;
      padding: 8px 10px;
      margin: 0 0;
    }

    #closeMenu {
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 40px;
      right: 15px;
      span.bar {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0.8);
        &:before, &:after {
          content:"";
          display: block;
          width: 100%;
          height: 2px;
          background: #000;
          position: absolute;
          top: 15px;
          left: 0;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }

    &.active {
      z-index: 999;
      visibility: visible;
      transform: translateX(0);
    }
  }
  .mobileOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    &.active {
      display: block;
    }
  }
  #menu-toggle {
    display: block;
    width: 35px;
    height: 35px;
    background: transparent;
    position: absolute;
    top: 5px;
    right: 0;
    span.bar,
    span.bar:before,
    span.bar:after {
      display: block;
      width: 100%;
      height: 3px;
      background: $primary;
      position: absolute;
      left: 0;
    }
    span.bar {
      top: 50%;
      transform: translateY(-50%);
    }
    span.bar:before,
    span.bar:after {
      content:"";
    }
    span.bar:before {
      top: -9px;
    }
    span.bar:after {
      top: 9px;
    }
  }
  body.subpage {
    #content {
      padding-top: 80px;
    }
  }
}


@media screen and (max-width: 782px) {
  html #wpadminbar {
    position: fixed;
  }
  body.logged-in.admin-bar {
    .site-header {
      top: 46px;
    }
    &.subpage {
      #content {
        padding-top: 77px;
      }
    }
  }
}

@include max($sm) {
  .carousel-wrapper .carousel-inner {
    padding-left: 0!important;
  }
}