div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
	word-wrap: normal;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	page-break-inside: avoid;
}
*, :before, :after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.4;
  // background: $primary;
	color: $color_text_main;
  &.subpage.no-banner {
    padding-top: 100px;
  }
}
a,input,button,textarea {
  transition: all ease .3s;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font_primary;
  color: #000;
  letter-spacing: 0.0352em;
}
.sr:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
.skip-link {
  text-decoration: none;
  position: absolute;
  top: -100px;
  left: 10px;
  color: #000;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0,0,0,.35);
  transition: all ease .3s;
}
.skip-link:focus,
.skip-link:active {
  position: fixed;
  z-index: 200;
  top: 10px
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-toggle {
  display: none;
}

.site-header {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 125px;
  &:after {
    content:"";
    display: block;
    width: 100%;
    height: 5px;
    background: $primary;
    position: absolute;
    left: 0;
    bottom: 3px;
  }
  .wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .head-inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}

.site-logo {
  display: none;
}

.main-navigation {
  text-align: right;

  ul {
    display: inline-block;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    text-align: left;
  }
  li {
    display: inline-block;
    float: left;
  }

  li.menu-logo {
    visibility: hidden;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }
  ul.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  ul.menu > li {
    margin-left: 10px;
    margin-right: 10px;
  }
  ul.menu > li > a {
    margin: 0 5px;
    padding: 5px 10px;
    display: inline-block;
    color: $primary;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
  }
  ul.menu > li:hover > a {
    color: $secondary;
  }
}

.hero {
  height: 100vh;
  padding-top: 125px;
  div.image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.carousel-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200;
  border-top: 9px solid #151515;
  border-bottom: 22px solid #151515;
  background: rgba(0,0,0,.75);
  padding-left: 20px;
  padding-right: 20px;
  .carousel-inner {
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 0;
  }
  .thumbnail {
    width: 190px;
    height: 118px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    .frame {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background-image: url('images/thumbnail-frame.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #000;
      border-radius: 5px;
    }
  }
  figure {
    margin: 0 0;
    img {
      width: 100%;
      height: auto;
    }
  }

  .owl-carousel {
    left: -20px;
  }

  .owl-item {
    margin: 0 0!important;
    padding: 0 0 0 55px;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 24px;
      height: 93px;
      background-image: url('images/VerticalSpacerBars.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 13px;
      left: 8px;
    }
  }
  .owl-item:first-child {
    &:after {
      display: none;
    }
  }

  .owl-nav, .owl-dots {
    display: none!important;
  }

  .customControl {
    cursor: pointer;
    width: 86px;
    height: 93px;
    position: absolute;
    top: 50%;
    z-index: 50;
    transform: translateY(-50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &.control-previous {
      background-image: url('images/Left-Arrow.png');
      left: -70px;
    }
    &.control-next {
      background-image: url('images/Right-Arrow.png');
      right: -70px;
    }
  }

  @media screen and (max-width: 1399px) {
    .owl-item {
      max-width: 240px;
      padding-left: 50px;
      &:after {
        left: 11px;
      }
    }
    .customControl {
      &.control-previous {
        left: -75px;
      }
      &.control-next {
        right: -75px;
      }
    }
    .carousel-inner {
      max-width: 950px;
    }
  }
  @media screen and (max-width: 800px) {
    .carousel-inner {
      max-width: 620px;
    }
    .owl-item {
      padding-left: 30px;
      &:after {
        left: -7px;
      }
    }
    .customControl {
      &.control-previous {
        left: -60px;
      }
      &.control-next {
        right: -60px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .carousel-inner {
      max-width: 100%;
    }
    .owl-carousel {
      left: 0;
    }
    .owl-item {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      // opacity: 0;
      // &.active {
      //   opacity: 1;
      // }
    }
    .owl-item:after {
      display: none;
    }
    .customControl {
      &.control-previous {
        left: 0;
      }
      &.control-next {
        right: 0;
      }
    }
  }
}

body.subpage {
  overflow: hidden;
  background-color: $primary;
  background-image: url('images/BlueGridBg.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  #content {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 125px;
    overflow: hidden;
    .wrapper {
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;
    }
    #primary {
      overflow: hidden;
    }

    #main {
      overflow: auto;
      height: 100%;
      color: #FFF;
      padding-top: 0;
      padding-bottom: 0;
      background: $primary;
    }

    .titlediv {
      text-align: center;
      width: 100%;
      position: relative;
      left: 0;
      top: 0;
      background-image: url('images/BlueGridBg.png');
      background-size: cover;
      background-position: 0 -21px;
      background-repeat: no-repeat;
      h1 {
        font-size: 2.5em;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.2em;
        color: #FFF;
        padding: 15px 0;
        margin: 0 0;
        text-transform: uppercase;
      }
    }

    .entry-content {
      font-size: 1.3em;
      line-height: 1.3;
      position: relative;
      overflow: hidden;
      height: 100vh;
      .wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: auto;
        height: 50vh;
      }
    }
  }

  .carousel-wrapper {
    &:before {
      content:"";
      background-color: $primary;
      background-image: url('images/BlueGridBg.png');
      background-size: 100%;
      background-position: bottom center;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    &:after {
      content:"";
      background-size: 100%;
      background-position: bottom center;
      background-repeat: no-repeat;
      background-color: rgba(0,0,0,.65);
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
    .carousel-inner {
      z-index: 10;
    }
  }
}

body.logged-in.admin-bar {
  .site-header {
    top: 32px;
  }
}
