div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
	word-wrap: normal;
	-ms-word-break: normal;
	word-break: normal;
	word-break: normal;
	-ms-hyphens: none;
	-moz-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
	color: #000;
	display: block;
	position: relative;
	z-index: 1000;
	border: 1px solid #FFF;
	margin: 5vw;
	padding: 20px;
}
body {
	font-family: $font_primary;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.4;
	color: $color_text_main;
  &.subpage.no-banner {
    padding-top: 100px;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font_secondary;
  color: #000;
  letter-spacing: 0.0352em;
}
.sr:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
.skip-link {
  text-decoration: none;
  position: absolute;
  top: -100px;
  left: 10px;
  color: #000;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0,0,0,.35);
  transition: all ease .3s;
}
.skip-link:focus,
.skip-link:active {
  position: fixed;
  z-index: 200;
  top: 10px
}

.wrapper {
  max-width: $wrapper;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-toggle {
  display: none;
}

.site-header {
  background: #f1f1f1;
  .head-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-navigation {
  text-align: right;
  ul {
    display: inline-block;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    text-align: left;
  }
  li {
    display: inline-block;
    float: left;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }

  ul.menu > li > a {
    margin: 0 5px;
    padding: 5px 10px;
    display: inline-block;
    color: $primary;
    font-size: 1.1em;
    line-height: 1.2;
  }
}
